// HEX-цвета для состояний статуса
$color-status-0: #a9d86e; //Новый
$color-status-1: #ff6c60; //В обработке
$color-status-2: #fcb322; //Отложено
$color-status-3: #bec3c7; //Закрыто

// HEX-цвета для кнопок модального окна
$color-button-create: #78cd51; //Создать 
$color-button-cancel:  #f67a6e; //Отмена